In [65]:
import pandas as pd
import sqlite3 as sq

In [66]:
pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /home/devilinyou/.local/lib/python3.6/site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython-sql) (1.4.1)
Requirement already satisfied: prettytable<1 in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython-sql) (7.16.1)
Requirement already satisfied: sqlparse in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.10 in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: pexpect in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: backcall in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (50.3.2)
Requirement already satisfied: decorator in /home/devilinyou/.local/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /home/devilinyou/.local/lib/python3.6/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.1)
Requirement already satisfied: wcwidth in /home/devilinyou/.local/lib/python3.6/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /home/devilinyou/.local/lib/python3.6/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Requirement already satisfied: importlib-metadata in /home/devilinyou/.local/lib/python3.6/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (3.4.0)
Requirement already satisfied: zipp>=0.5 in /home/devilinyou/.local/lib/python3.6/site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.4.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/devilinyou/.local/lib/python3.6/site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.7.4.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/devilinyou/.local/lib/python3.6/site-packages (from pexpect->ipython>=1.0->ipython-sql) (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [67]:
df = pd.DataFrame({'Name': ['ravi', 'dulkar','salman'],
                   'Age': [5, 75,3],
                  'class': [1, 5,4]})

In [68]:
df

     Name  Age  class
0    ravi    5      1
1  dulkar   75      5
2  salman    3      4

In [69]:
cnn= sq.connect('nick.db')

In [70]:
df.to_sql('nilesh_kodag',cnn)

In [71]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [72]:
%sql sqlite:///nick.db

In [73]:
%%sql
SELECT * FROM nilesh

 * sqlite:///nick.db
   sqlite:///nicl.db
Done.

[(0, 'ravi', 5, 1), (1, 'dulkar', 75, 5), (2, 'salman', 3, 4)]

In [74]:
%%sql
SELECT count(*) FROM nilesh_kodag

 * sqlite:///nick.db
   sqlite:///nicl.db
Done.

[(3,)]